<!DOCTYPE html>
<html>
<head>
    <% if(title){ %>
        <title><%= title %></title>
    <% } else{ %>
        <title>Dashboard</title>
    <% } %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <script>
        $(function(){
            $("#navbar").load('/templates/dash_navbar.html');
        });
    </script>
</head>
<body>

    <div id="navbar"></div>

    <% if(username){ %>
        <h1>Welcome back, <%= username %></h1>
    <% } else{ %>
        <title>Welcome back.</title>
    <% } %>

    <!--Profile picture here-->
    <div>
        <div>
            <img src="http://placehold.it/150x150" class="img-circle">
        </div>
        <div>
            <h4> Name: Test User</h4>
            <h4> Rank: Angel</h4>
        </div>
    </div>




    <form action="lost">
        <input type="hidden" name="username" value="<%= username%>" />
        <input type="submit" class="btn btn-default" value="Report Lost Item">
    </form>
    <br>
    <form action="found">
        <input type="hidden" name="username" value="<%= username%>" />
        <input type="submit" class="btn btn-default" value="Report Found Item">
    </form>

    <h3>Found Items</h3>
    <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ol>


</body>
</html>