<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <script>
        $(function(){
            $("#navbar").load('/templates/navbar.html');
        });
    </script>
</head>
<body id="bg">
    <div class="main-container">
        <div id="navbar"></div>
        <div style="height: 200px"></div>
        <div class="textBG"><h2 class="siteSlogan">Get Your Lost Items Back Here</h2></div>
    </div>
</body>
</html>