<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
    <body>
        <h1><%= message %></h1>
        <form action="" method="post">
            <div class="col-sm-6 col-sm-offset-3">
                <p>First Name: <input class="input form-control" name="first" id="first" value="Test" required></p>
                <p>Last Name:<input class="input form-control" name="last" id="last" value="User" required></p>
                <p><input class="input form-control" name="email" id="email" value="root@returnto.me" required></p>
                <p><input class="input form-control" name="phone" id="phone" value="(123)456-7890" required></p>
                <p><input class="input form-control" name="location" id="location" value="heaven" required></p>
                <button type="submit" class="btn btn-sm btn-success col-sm-4 col-sm-offset-4">
                    <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Update
                </button>
            </div>
        </form>

    </body>

</html>