<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1> Sign Up Page</h1>

    <form action="" method="post">
        <div>
            <p><input class="input-lg" name="first" id="first" placeholder="First Name" required></p>
            <p><input class="input-lg" name="last" id="last" placeholder="Last Name" required></p>
            <p><input class="input-lg" name="username" id="username" placeholder="Username" required></p>
            <p><input class="input-lg" type="password" name="pass" id="pass" placeholder="Password" required></p>
            <p><input class="input-lg" name="email" id="email" placeholder="Email" required></p>
            <p><input class="input-lg" name="phone" id="phone" placeholder="Phone number" required></p>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</body>
</html>