body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*--------------------------------------------------------------*/
/*  This part of the style sheet controls the homepage styling  */
/*--------------------------------------------------------------*/
body#bg{
  background: url('https://static.pexels.com/photos/36079/pexels-photo.jpg') no-repeat 50% 50% fixed;
  /*background: url('https://static.pexels.com/photos/256485/pexels-photo-256485.jpeg') no-repeat 50% 50% fixed;*/
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.textBG{
  padding: 20px;
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
}
.siteSlogan {
  text-transform: uppercase;
  text-shadow: #363535 3px 3px 5px;
  font-variant: small-caps;
  font-size: 45pt;
  color: white;
  margin: auto;
  text-align: center;
}

/*--------------------------------------------------------------*/
/*                          END                                 */
/*--------------------------------------------------------------*/



/*--------------------------------------------------------------*/
/*     This part of the style sheet controls nav bar styling    */
/*--------------------------------------------------------------*/
.navbar {
  /*background:transparent;*/
  border: transparent;
}

.nav-button{
  text-transform: uppercase;
  text-shadow: #363535 3px 3px 5px;
  font-variant: small-caps;
  font-size: 15pt;
  color: white!important;
  margin: auto;
}

.siteLogo {
  background: url('../images/sitelogo_scale.png');
  width: 270px;
  height: 65px;
  max-width: 100%;
  max-height:100%;
  display:block;
  margin: auto;
}

/*--------------------------------------------------------------*/
/*                          END                                 */
/*--------------------------------------------------------------*/






/*--------------------------------------------------------------*/
/* This part of the style sheet controls the style of login page*/
/*--------------------------------------------------------------*/
.center{
  text-align: center;
}



/*--------------------------------------------------------------*/
/*                          END                                 */
/*--------------------------------------------------------------*/